.play
  nav.container.d-flex.flex-column.align-items-center
    .play-wrapper.position-relative
      ul.nav.nav-tabs.play-tabs.position-relative.mb-4.border-0
        li.nav-item.mr-4
          a.play-link.active(href="#tablet" data-toggle="tab")
            svg.play-icon.mr-2.align-middle(width="20" height="20" fill="white")
              use(xlink:href="#ipad")
            span iPad
        li.nav-item
          a.play-link(href="#mobile" data-toggle="tab")
            svg.play-icon.mr-2.align-middle(width="20" height="20" fill="white")
              use(xlink:href="#iphone")
            span iPhone

      .tab-content.play-tab-content
        .tab-pane.fade.show.active.text-white#tablet
          .play-tab-inner.position-relative
            h2.pb-2.text-white Now you can play with your hands
            p Put your iPad in the Osmo base with the red reflector over the camera — and now it can see what’s in front of it.
          +respImg("images/play-on-ipad-responsive.png", 700)(
            class="play-img position-absolute", 
            sizes="(min-width: 768px) 43.75rem, 95vw", 
            alt="Play Osmo on iPad"
          )
          .play-overlay.ipad.position-absolute
          .play-overlay.hand.position-absolute

        .tab-pane.fade.text-white#mobile
          .play-tab-inner.position-relative
            h2.pb-2.text-white Osmo is now on iPhone
            p Put your iPhone in the Osmo base with the red reflector over the camera — and now it can see what’s in front of it.
          +respImg("images/play-on-iphone-responsive.png", 700)(
            class="play-img position-absolute", 
            sizes="(min-width: 768px) 43.75rem, 95vw", 
            alt="Play Osmo on iPhone"
          )
          .play-overlay.iphone.position-absolute
          .play-overlay.hand.position-absolute